<table>
  <tr>
    <td><h5>タンパク質合計：</h5></td>
    <td><h5><span class="badge rounded-pill bg-primary text-white"><%= total_protein.round(1) %>g</span></h5></td> <!-- 献立の合計タンパク質を表示 -->
  </tr>
  <tr>
    <td><h5>脂質合計：</h5></td>
    <td><h5><span class="badge rounded-pill bg-primary text-white"><%= total_fat.round(1) %>g</span></h5></td> <!-- 献立の合計脂質を表示 -->
  </tr>
  <tr>
    <td><h5>炭水化物合計：</h5></td>
    <td><h5><span class="badge rounded-pill bg-primary text-white"><%= total_carbohydrate.round(1) %>g</span></h5></td> <!-- 献立の合計炭水化物を表示 -->
  </tr>
</table>