<div class="container shadow-sm">
  <div class="row">
    <h5 class=" mb-4"><strong>献立一覧</strong></h5>
    <div><%= link_to "新規献立登録", new_menu_path, class: "btn btn-primary" %></div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= render 'menus/kensaku' %>
    </div>
    <div class="col-9">
      <div class="row">
        <% if @menus.present? %>
          <% @menus.each do |menu| %>
            <%= render 'menus/menu_card', menu: menu %>
          <% end %>
        <% else %>
          <p>献立がありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
