<div class="container">
  <div class="row">
    <h4 class="mb-5"><span class="bg-light px-3 pb-1">ブックマークした献立</span></h4>
  </div>
  <div class="row">
    <% if @bookmarked_menus.present? %>
      <% @bookmarked_menus.each do |menu| %>
        <%= render 'menus/menu_card', menu: menu %>
      <% end %>
    <% else %>
      <p>献立がありません。</p>
    <% end %>
  </div>
</div>