<div class="container shadow">
  <div class="row">
    <h4 class="mb-5">ブックマークした献立</h4>
  </div>
  <div class="row">
    <% if @bookmarked_menus.present? %>
      <% @bookmarked_menus.each do |menu| %>
        <%= render 'menus/menu_card', menu: menu %>
      <% end %>
    <% else %>
      <p>ブックマークした献立がありません。</p>
    <% end %>
  </div>
</div>