@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
}

.head-line {
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}

.title {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

.navbar-logo {
  height: 50px;
}

body {
  background-color: #EEFFFF;
}

.container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px;
}

.footer-content {
  height: 50px;
}