@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

.navbar-logo {
  height: 50px;
}

body {
  background-color: #EEFFFF;
}

.container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px;
}

.footer-content {
  height: 50px;
}