<div class="input-group">
<%= form_with(model: [menu, MenuComment.new], local: false) do |f| %>
  <%= f.text_area :comment, placeholder: "", class: 'form-control' %>
  <span><%= f.submit "送信", class: '' %></span>
<% end %>
</div>